body{
  background-color:#373a3b;
}
.center{
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
.js-title{
  color: white;
  font-size: 8rem;
  margin-bottom: 0px;
}
.js-form{
  margin-bottom: 16px;
}
.js-greetings{
  color: white;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 8px;
}
.form,
.greetings{
  display:none;
}

.showing{
  display:block;
}
#icon{
  vertical-align: middle;
  width: 80px;
  height: 80px;
}
.what{
  background-color: transparent;
  border:none;
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
  font-size: 2rem;
}
::placeholder{
  color:white;
  font-size: 2rem;
}
.js-weather{
  display: block;
  width: 100%;
  color:white;
  font-size: 2rem;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation: fadeIn .5s linear;
  animation: fadeIn .5s linear;
}